:root {
  /* colors */
  --dark-orange: rgb(216, 125, 74);
  --light-orange: rgb(251, 175, 133);
  --black: rgb(16, 16, 16);
  --dark-black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --dark-grey: rgb(241, 241, 241);
  --light-grey: rgb(250, 250, 250);

  /* Typography */

  --h1-size: 56px;
  --h1-line-height: 58px;
  --h1-letter-spacing: 2px;
  --h2-size: 40px;
  --h2-line-height: 44px;
  --h2-letter-spacing: 1.5px;
  --h3-size: 32px;
  --h3-line-height: 36px;
  --h3-letter-spacing: 1.15px;
  --h4-size: 28px;
  --h4-line-height: 38px;
  --h4-letter-spacing: 2px;
  --h5-size: 24px;
  --h5-line-height: 33px;
  --h5-letter-spacing: 1.7px;
  --h6-size: 18px;
  --h6-line-height: 24px;
  --h6-letter-spacing: 1.3px;
  --overline-size: 14px;
  --overline-line-height: 19px;
  --overline-letter-spacing: 10px;
  --subTitle-size: 13px;
  --subTitle-line-height: 25px;
  --subTitle-letter-spacing: 1px;
  --body-size: 15px;
  --body-line-height: 25px;
  --left-right-body-gutter: 10%;
}
.div-cart {
  background-color: var(--white);
  width: 377px;
  height: 488px;
  border-radius: 8px;
  position: absolute;
  bottom: -40px;
  transform: translateY(100%);
  right: var(--left-right-body-gutter);
  display: none;
  z-index: 5;
}
.show-cart {
  display: initial;
}
.cart-mask {
  width: 100%;
  height: 1000px;
  background-color: rgb(0, 0, 0, 0.6);
  position: absolute;
  top: 0px;
  display: initial;
  left: 0px;
  z-index: 3;
}
