:root {
  /* colors */
  --dark-orange: rgb(216, 125, 74);
  --light-orange: rgb(251, 175, 133);
  --black: rgb(16, 16, 16);
  --dark-black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --dark-grey: rgb(241, 241, 241);
  --light-grey: rgb(250, 250, 250);

  /* Typography */

  --h1-size: 56px;
  --h1-line-height: 58px;
  --h1-letter-spacing: 2px;
  --h2-size: 40px;
  --h2-line-height: 44px;
  --h2-letter-spacing: 1.5px;
  --h3-size: 32px;
  --h3-line-height: 36px;
  --h3-letter-spacing: 1.15px;
  --h4-size: 28px;
  --h4-line-height: 38px;
  --h4-letter-spacing: 2px;
  --h5-size: 24px;
  --h5-line-height: 33px;
  --h5-letter-spacing: 1.7px;
  --h6-size: 18px;
  --h6-line-height: 24px;
  --h6-letter-spacing: 1.3px;
  --overline-size: 14px;
  --overline-line-height: 19px;
  --overline-letter-spacing: 10px;
  --subTitle-size: 13px;
  --subTitle-line-height: 25px;
  --subTitle-letter-spacing: 1px;
  --body-size: 15px;
  --body-line-height: 25px;
  --left-right-body-gutter: 10%;
  --left-padding-mobile: 4%;
}
.orange-speaker {
  background-color: var(--dark-orange);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 560px;
  overflow-y: hidden;
  padding-top: 90px;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 30px;
  z-index: -2;
}
.left-orange-div {
  position: relative;
  z-index: 2;
}
.orange-speaker img {
  width: 410.234px;
  height: 493px;
}
.inner-div-orange {
  display: flex;
  flex-direction: column;
  gap: 30px;
  transform: translateY(20px);
  z-index: 2;
}
.inner-div-orange h1 {
  font-size: var(--h1-size);
  line-height: var(--h1-line-height);
  letter-spacing: var(--h1-letter-spacing);
  color: var(--white);
}
.inner-div-orange p {
  font-size: var(--body-size);
  line-height: var(--body-line-height);
  color: var(--white);
  opacity: 0.75;
}
.inner-div-orange button {
  width: 160px;
  background-color: var(--dark-black) !important;
}
.inner-div-orange button:hover {
  background-color: #4c4c4c !important;
}
.shared-circle {
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--white);
  position: absolute;
  opacity: 0.35;
  z-index: -1;
}
.first-circle {
  height: 472px;
  width: 472px;
  left: -31px;

  bottom: -80px;
}
.second-circle {
  height: 472px;
  width: 472px;
  left: -31px;
  transform: scale(1.14);
  bottom: -80px;
}
.third-circle {
  height: 472px;
  width: 472px;
  left: -31px;
  transform: scale(2);
  bottom: -80px;
}
.tablet-image {
  display: none !important;
}
.mobile-image {
  display: none !important;
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .orange-speaker {
    padding: 5px 0px;

    flex-direction: column;
    height: 720px;
    align-items: center;
    overflow: hidden;
  }
  .orange-speaker img {
    width: 197.212px;
    height: 237px;
  }
  .inner-div-orange {
    text-align: center;
    align-items: center;
    gap: 35px;
    transform: none;
  }
  .desktop-image {
    display: none !important;
  }
  .tablet-image {
    display: initial !important;
  }
  .first-circle {
    top: -80px;
    left: -138px;
  }
  .second-circle {
    top: -80px;
    left: -138px;
  }
  .third-circle {
    top: -80px;
    left: -138px;
  }
}
@media screen and (max-width: 767px) {
  .desktop-image {
    display: none !important;
  }
  .tablet-image {
    display: none !important;
  }
  .mobile-image {
    display: initial !important;
  }
  .orange-speaker {
    padding: 15px 0px;

    flex-direction: column;
    height: 600px;
    align-items: center;
    overflow: hidden;
  }
  .orange-speaker img {
    width: 172.248px;
    height: 207px;
  }
  .inner-div-orange {
    text-align: center;
    align-items: center;
    gap: 35px;
    transform: none;
    padding-left: var(--left-padding-mobile);
    padding-right: var(--left-padding-mobile);
  }

  .first-circle {
    top: -20px;
    left: -54px;
    width: 279px;
    height: 279px;
  }
  .second-circle {
    top: -20px;
    left: -54px;
    width: 279px;
    height: 279px;
  }
  .third-circle {
    top: -20px;
    left: -54px;
    width: 279px;
    height: 279px;
  }
  .inner-div-orange h1 {
    line-height: 40px;
    font-size: 36px;
    letter-spacing: 1.286px;
  }
  .inner-div-orange p br {
    display: none;
  }
  .inner-div-orange p {
    transform: translateX(-10px);
  }
}
