:root {
  /* colors */
  --dark-orange: rgb(216, 125, 74);
  --light-orange: rgb(251, 175, 133);
  --black: rgb(16, 16, 16);
  --dark-black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --dark-grey: rgb(241, 241, 241);
  --light-grey: rgb(250, 250, 250);

  /* Typography */

  --h1-size: 56px;
  --h1-line-height: 58px;
  --h1-letter-spacing: 2px;
  --h2-size: 40px;
  --h2-line-height: 44px;
  --h2-letter-spacing: 1.5px;
  --h3-size: 32px;
  --h3-line-height: 36px;
  --h3-letter-spacing: 1.15px;
  --h4-size: 28px;
  --h4-line-height: 38px;
  --h4-letter-spacing: 2px;
  --h5-size: 24px;
  --h5-line-height: 33px;
  --h5-letter-spacing: 1.7px;
  --h6-size: 18px;
  --h6-line-height: 24px;
  --h6-letter-spacing: 1.3px;
  --overline-size: 14px;
  --overline-line-height: 19px;
  --overline-letter-spacing: 10px;
  --subTitle-size: 13px;
  --subTitle-line-height: 25px;
  --subTitle-letter-spacing: 1px;
  --body-size: 15px;
  --body-line-height: 25px;
  --left-right-body-gutter: 10%;
}

nav {
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px var(--left-right-body-gutter);

  position: relative;
}
nav > a {
  z-index: 5;
}
.nav-middle {
  display: flex;
  flex-direction: row;
  gap: 25px;
  transform: translateX(-45px);
  z-index: 5;
}
.nav-middle a {
  font-size: var(--overline-size);
  color: var(--white);
  letter-spacing: 2px;
  text-decoration: none;
  font-weight: 700;
}
.nav-middle a:hover {
  color: var(--dark-orange);
  cursor: pointer;
}
.cart-button {
  background-color: transparent;
  border: none;
  z-index: 5;
}
.cart-button:hover {
  cursor: pointer;
}
.hamburger-button {
  background-color: transparent;
  border: none;
  display: none;
  z-index: 5;
}
.hamburger-button:hover {
  cursor: pointer;
}
.mobile-menu {
  background-color: var(--white);
  position: absolute;
  bottom: 0px;
  transform: translateY(-30%);
  height: 340px;
  max-height: 1000px;
  width: 100%;
  left: 0px;
  z-index: 5;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px var(--left-right-body-gutter);
  transition: transform 0.4s ease-in-out;
}
.mobile-menu > div {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}
.mobile-menu a {
  text-decoration: none;
}
.mobile-menu-img {
  background-color: transparent;
  position: absolute;
  top: 0px;
  transform: translateY(-50%);
}
.box-shadow {
  width: 95px;
  left: 50%;
  top: 60%;
  transform: translateX(-50%);
  height: 14px;
  background-color: var(--dark-black);
  position: absolute;
  top: 50px;
  filter: blur(21px);
}
.item-types {
  width: 100%;
  background-color: var(--dark-grey);
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  height: 165px;
  max-height: 1000px;
  justify-content: flex-end;
}
.item-types h6 {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 15px;
  position: relative;
}

.item-types a {
  opacity: 0.6;
}

.black-mask-nav {
  width: 100%;
  height: calc(100vh + 100px);
  background-color: rgb(0, 0, 0, 0.6);
  position: absolute;
  top: 0px;
  display: none;
  left: 0px;
  z-index: 3;
}
.grey-line {
  z-index: 4;
  width: calc(100% - calc(2 * var(--left-right-body-gutter)));
  position: absolute;
  height: 1px;
  background-color: var(--white);
  opacity: 0.2;
  left: var(--left-right-body-gutter);

  bottom: 0px;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .nav-middle {
    display: none;
  }
  .logo {
    margin-left: -55%;
  }
  .hamburger-button {
    display: inline-block;
  }
  .mobile-menu {
    display: flex;
  }
  .mobile-menu.animate-menu {
    transform: translateY(100%);
  }
  .black-mask-nav {
    display: initial;
  }
}
@media screen and (max-width: 767px) {
  .nav-middle {
    display: none;
  }
  .hamburger-button {
    display: inline-block;
  }
  .mobile-menu {
    display: flex;
    transform: translateY(-30%);
    height: max-content;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.5, 1, 0.9, 1);
  }

  .mobile-menu > div {
    flex-direction: column;
    gap: 70px;
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .mobile-menu.animate-menu {
    transform: translateY(100%);
  }
  .black-mask-nav {
    display: initial;
  }
  .grey-line {
    width: 100%;
    transform: none;
    left: 0px;
  }
  body {
    overflow: auto !important;
  }
}
