:root {
  /* colors */
  --dark-orange: rgb(216, 125, 74);
  --light-orange: rgb(251, 175, 133);
  --black: rgb(16, 16, 16);
  --dark-black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --dark-grey: rgb(241, 241, 241);
  --light-grey: rgb(250, 250, 250);

  /* Typography */

  --h1-size: 56px;
  --h1-line-height: 58px;
  --h1-letter-spacing: 2px;
  --h2-size: 40px;
  --h2-line-height: 44px;
  --h2-letter-spacing: 1.5px;
  --h3-size: 32px;
  --h3-line-height: 36px;
  --h3-letter-spacing: 1.15px;
  --h4-size: 28px;
  --h4-line-height: 38px;
  --h4-letter-spacing: 2px;
  --h5-size: 24px;
  --h5-line-height: 33px;
  --h5-letter-spacing: 1.7px;
  --h6-size: 18px;
  --h6-line-height: 24px;
  --h6-letter-spacing: 1.3px;
  --overline-size: 14px;
  --overline-line-height: 19px;
  --overline-letter-spacing: 10px;
  --subTitle-size: 13px;
  --subTitle-line-height: 25px;
  --subTitle-letter-spacing: 1px;
  --body-size: 15px;
  --body-line-height: 25px;
}

/* TextForm */
.text-form {
  margin: 50px;
}
.text-form input {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--dark-orange);
  background: #fff;
  margin-top: 15px;
  width: max-content;
  padding: 20px 150px 20px 15px;
  caret-color: var(--dark-orange);
  font-weight: 700;
  font-size: var(--body-size);
}
.text-form input[value=""] {
  border: 1px solid #cfcfcf;
}
.text-form input:hover {
  cursor: pointer;
}
.text-form input:focus {
  outline: 1px solid var(--dark-orange);
}
.text-form input::placeholder {
  caret-color: var(--dark-orange);
  font-weight: 700;
  font-size: var(--body-size);
}

.text-form label {
  font-size: var(--overline-size);
  font-weight: 700;
}

/* Text-Error */

.text-error label {
  color: rgba(205, 44, 44, 1);
}
/* RadioForm */

.radio-form {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #cfcfcf;
  background: #fff;
  margin: 50px;
  width: max-content;
  width: 309px;
  height: 56px;
  flex-shrink: 0;
  padding-left: 15px;
}
.radio-form:hover {
  cursor: pointer;
  border-color: var(--dark-orange);
}
label.radio-form {
  font-size: var(--body-size);
  font-weight: 700;
}
.radio-form input {
  display: none;
}
.radio-form span {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  border: 1.5px solid #cfcfcf;
  position: relative;
}
.radio-form span::after {
  content: "";
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: var(--dark-orange);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.4s;
}
input[type="radio"]:checked + span::after {
  transform: translate(-50%, -50%) scale(1.3);
}
/* CounterForm */
.counter-form {
  display: flex;
  flex-direction: row;
  background-color: var(--dark-grey);
  width: max-content;
  justify-content: space-between;
  padding: 0px 15px;
  height: 48px;
  width: 120px;
  max-width: 300px;
}
.counter-form button {
  background-color: transparent;
  border: none;
  opacity: 0.35;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
}
.counter-form button:hover {
  color: var(--dark-orange);
  cursor: pointer;
}
.counter-form input {
  background-color: transparent;
  border: none;
  text-align: center;
  width: 10px;
  max-width: 40px;
  flex-grow: 1;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
